<h3>投稿詳細</h3>

<h3>タイトル</h3>
<p><%= @list.title %></p>

<h3>本文</h3>
<p><%= @list.body %></p>

<h3>画像</h3>
<p><% if @list.image.attached? %></p>
  <%= image_tag @list.image, size:"150x150" %>
<% else %>
  <%= image_tag 'no_image', size:"150x150" %>
<% end %>
<%= link_to "削除", destroy_list_path(@list), method: :delete, "data-confirm" => "本当に削除しますか？"  %>